<div class="login">
  <h1>Sign in</h1>
  <a routerLink="/register" class="register">Need an account?</a>

  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
    <app-form-errors [errorResponse]="errorResponse"></app-form-errors>
    <input
      type="email"
      formControlName="email"
      class="form-control form-control-lg"
      autocomplete="on"
      list="login-email-options"
      placeholder="Email"
    />
    <input
      type="password"
      formControlName="password"
      class="form-control form-control-lg"
      autocomplete="off"
      placeholder="Password"
    />
    <button type="submit" class="btn sign-in-btn btn-lg">
      Sign in
    </button>
    <datalist id="login-email-options">
      <option value="user@example.com"></option>
      <option value="contact@example.com"></option>
      <option value="hello@example.com"></option>
      <option value="newsletter@example.com"></option>
      <option value="sales@example.com"></option>
      <option value="marketing@example.com"></option>
      <option value="team@example.com"></option>
      <option value="support@example.com"></option>
      <option value="admin@example.com"></option>
      <option value="info@example.com"></option>
    </datalist>
  </form>
</div>
